extends ../layout.pug

block content
    form(action = "/admin/products" method = "POST")
        label(for = "name") Title 
        input(type = "text", name = "name")
        label(for = "name") Image URL
        input(type = "text", name = "imageUrl") 
        label(for = "price") Price
        input(type = "text", name = "price")
        label(for = "description") Description
        input(type = "text", name = "description")
        button(type = "submit") Add product