doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Home Page
    body
        header 
            a(href = "/") Home Page 
            a(href = "/users") User Page 
        h1 Enter your name
        form(action = "/users" method = "POST")
            label(for="name") Name 
            input(type = "text", name ="name")
            button(type = "submit") Submit